################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/MMASS Online/MMASS ONLINE/Orden.html
